*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.toggleSwitch{
  background: hsl(226,11%,37%);
  height: 40px;
  border-radius: 20px;
  aspect-ratio: 2/1;

  >div{
    background-color: #FAFAFA;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid hsl(226,11%,37%);

    position: relative;       
    left: 0px;   
    transition: left 0.3s;
  }
}

.toggleSwitch.on{
  background-color: hsl(3,86%,64%);
  >div{
    left: 40px;
    border: 2px solid hsl(3,86%,64%);
  }
}

